################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Product/bin/Debug
/Product/obj/Debug
/.vs/Product/v14/.suo
